@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

*{
  padding: 0px;
  margin: 0px;

  
  
  font-family: 'Red Hat Display', sans-serif;

  box-sizing: border-box;
}
body{
  background: url(./images/pattern-background-desktop.svg) no-repeat;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 100vh;
  width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content{
  margin: 25px 25px 10px;
  box-shadow: 0px 0px 20px 1px lightblue;
  border-radius: 20px;

  background-color: white;
}

.logo-img img{
  width: 100%;
  margin-bottom: 20px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.text{
  padding-bottom: 10px;
}
.text h1{
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 0px;
}
.text p{
  padding: 10px 28px ;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: hsl(224, 23%, 55%);
}
.plan{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  margin:auto;

  background-color: hsl(225, 100%, 98%);
}
.plan p{
  color: hsl(223, 47%, 23%);
  font-weight: 1000;
  padding: 15px 10px;
  padding-right: 40px;
  font-size: 14px;
}
#price{
  font-size: 14px;
  font-weight: 600;
  color: hsl(224, 23%, 55%);
}
.plan a{
  font-size: 14px;
  color: hsl(245, 75%, 52%);
  font-weight: 800;
}
.plan a:hover{
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.buttons button{
  width: 80%;
  padding: 8px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 14px;
}
#payment{
  margin: 15px 0 10px;
  color: white;
  background: hsl(245, 75%, 52%); 
  box-shadow: 0px 8px 20px -10px  black;
}
#payment:hover{
  background-color: hsl(224, 23%, 55%);
}
#cancel{
  margin-bottom: 20px;
  color: hsl(224, 23%, 55%);
  background: none;
  width: auto;
}
#cancel:hover{
  color: hsl(223, 47%, 23%);
}

divi{
  color: hsl(225, 100%, 94%);
  color: hsl(245, 75%, 52%);

  color: hsl(225, 100%, 98%);
  color: hsl(224, 23%, 55%);
  color: hsl(223, 47%, 23%);

}

@media screen and (max-width: 500px) {
  body {
    background: hsl(225, 100%, 98%);
  }
}


